<h1>Actor #<%= @the_actor.id %> details </h1>

<a href="/actors">Go back</a>

<dt>
    Name
  </dt>

  <dt>
    <dd><%= @the_actor.name %></dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%= @the_actor.dob %>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
  <%= @the_actor.bio %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @the_actor.image %>" style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= @the_actor.created_at %>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
     <%= @the_actor.updated_at %>
  </dd>
</dl>

<% matching_movies = Movie.where({ :actor_id => @the_actor.id }) %>

<% end %>
</table>

  

 